* {
  box-sizing: border-box; 
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #581845;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

h1 {
  color: #FF5733;
  font-size: 4em;
  padding: 100px;
  font-weight: 800;
  margin: 0;
  border-bottom: 1px dashed #581845;  
}

.container {
  margin: 0 auto;
  text-align: center;
}

/* paragraph with text */
p:last-child {
  height: 400px;
  width: 100%;
  padding: 60px 130px 60px 130px;
  font-size: 3em;
  color: white;
  border-bottom: 1px dashed #FF5733;
  border-top: 1px dashed #FF5733;
  background-color: black;
}

button {
  font-size: 1em;
  padding: 20px;
  margin: 50px;
  background-color: #FF5733;
  color:white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #FF5733;
  cursor: pointer;
}